.intro-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.intro-lights {
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  height: 180px;
  background-image: url("/images/lights.png");
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;

  @include set-values(height, $breakpoints, 140px 120px 100px 90px);
}

.intro-text-container {
  @include text-container;

  h1 {
    @include set-values(font-size, $breakpoints, 3.5rem 3rem NULL 2.25rem);
  }

  .intro-text {
    @include set-values(font-size, $breakpoints, 1.75rem NULL 1.5rem 1.25rem);

    strong {
      display: block;
      font-weight: bolder;
      margin-bottom: 3rem;
    }
  }
  
  h1 {
    
  }

  button {
    font-size: 1.5rem;
  }
}

.intro-handyman {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  width: 360px;
  height: 480px;
  background-image: url("/images/handyman.png");
  background-size: contain;
  background-position: 100% 100%;
  background-repeat: no-repeat;

  @media screen and (max-width: 1400px) {
    width: 20vw;
  }

  @media screen and (max-height: 800px) {
    bottom: -1rem;
    height: 40vh;
  }

  @media screen and (max-width: $md) {
    display: none;
  }
}

.intro-band {
  position: absolute;
  left: 3rem;
  bottom: 1.5rem;
  width: 360px;
  height: 410px;
  background-image: url("/images/band.png");
  background-size: contain;
  background-position: 0 100%;
  background-repeat: no-repeat;

  @include set-values(left,  $lg 1280px, 3rem -2rem);
  @include set-values(width, $lg 1280px, 360px 240px);

  @media screen and (max-width: $md) {
    display: none;
  }
}

.start-quiz-button {
}