.preamble-text-container {
  @include text-container;

  @include set-values(margin-top, 700px 600px 500px 400px, 20% 15% 10% 5%, max-height);

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.125;

    @include set-values(font-size, $breakpoints, 1.75rem 1.5rem NULL 1.25rem);
  } 
}

.preamble-text {
  font-size: 1.5rem;

  @include set-values(font-size, $md $sm, 1.25rem 1rem);

  strong {
    display: block;
  }
}

.preamble-with-facebook {
  text-align: center;
  color: #e44b4a;
  white-space: nowrap;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0;
}

.preamble-start-quiz-no-auth {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 1rem;
  color: rgba(0,0,0,.9);
}

.preamble-cable {
  position: absolute;
  top: 0;
  right: 0;
  height: 140px;
  left: 0;
  background-image: url("/images/cables.png");
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;

  @include set-values(height, $breakpoints, 140px 120px 100px NULL);
  @include set-values(top, 700px, -30px, max-height);

  @media screen and (max-height: 620px) {
    display: none;
  }
}

.preamble-computer {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  height: 300px;
  width: 300px;
  background-image: url("/images/computer.png");
  background-size: contain;
  background-position: 0 100%;
  background-repeat: no-repeat;

  @media screen and (max-width: 1280px) {
    left: -3rem;
    bottom: 3rem;
    width: 260px;
    height: 260px;
  }

  @media screen and (max-width: $md) {
    display: none;
  }
}

.preamble-hammer {
  position: absolute;
  bottom: 5rem;
  right: 4rem;
  height: 140px;
  width: 300px;
  background-image: url("/images/hammer.png");
  background-size: contain;
  background-position: 100% 100%;
  background-repeat: no-repeat;

  @media screen and (max-width: 1280px) {
    right: -3rem;
    bottom: 3rem;
  }

  @media screen and (max-width: $md) {
    display: none;
  }
}