.quiz-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  &.active {
    z-index: 1;
  }
}

.quiz-modal-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 660px;
  padding: 0 30px;
  max-width: 100%;
  overflow: hidden;

  @include set-values(top, $breakpoints, 54% 52% 50% NULL);
}

.quiz-modal-content {
}

.question-list-container {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.question-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform .5s;

  h2 {
    font-size: 2rem;
  }

  ul {
    list-style-type: none;
  }

  li {
    margin-bottom: .5rem;
  }

  li button {
    background: transparent;
    padding: 0;
    border: 0;
    font-size: 1.25rem;
  }
}

.quiz-question-text {
  
}

.answer-checkbox {
  height: 28px;
  width: 28px;
  position: relative;
  border-radius: 6px;
  
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    background-color: red;
    transform: translate(-50%, -50%);
    transition: all .3s;
    border-radius: 4px;
  }

  &.checked {
    &:after {
      width: 20px;
      height: 20px;
    }
  }
}