.quiz-container {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  width: 600px;
  max-width: 100%;
  transform: translateX(-50%);

  @media screen and (max-height: 750px) {
    width: 780px;
  }

  @include set-values(top, 500px 400px, 10% 5%, max-height);
}

.question-list-container {
  position: absolute;
  top: 0;
  right: 2rem;
  left: 2rem;
  bottom: 0;
  overflow: hidden;
  transform: translateX(-1rem);

  @media screen and (max-width: 800px) {
    transform: none;
  }

  @media screen and (max-width: $sm) {
    left: 1rem;
    right: 1rem;
  }
}

.question-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform .5s;
  margin-top: 10rem;

  @media screen and (max-width: $md) {
    margin-top: 8rem;
  }

  @media screen and (max-height: 750px) {
    margin-top: 6rem;
  }

  @media screen and (max-width: 800px) {
    padding-left: 0;
  }

  .question-title-number,
  h2 {
    font-size: 1.75rem;
    font-weight: bolder;
    line-height: 1.3;
    margin-bottom: 1rem;

    @media screen and (max-height: 750px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 1.25rem;
    }
  }

  ul {
    list-style-type: none;
    margin-bottom: 3rem;

    @media screen and (max-width: $sm) {
      margin-bottom: 1.5rem;
    }
  }

  li {
    display: flex;
    margin-bottom: .5rem;
  }

  li .quiz-answer-text {
    background: transparent;
    padding: 4px 0 0;
    border: 0;
    font-size: 1.25rem;
    text-align: left;
    line-height: 1.3;

    @media screen and (max-height: 750px) {
      font-size: 1.125rem;
      padding-top: 0;
    }

    @media screen and (max-width: $sm) {
      font-size: 1rem;
    }
  }
}

.question-title-number {
  position: absolute;
  left: 0;
  top: 0;

  &:after {
    content: ".";
  }

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.question-number {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;

  @media screen and (max-width: $sm) {
    margin-top: 0;
  }
}

.answer-checkbox {
  height: 24px;
  min-width: 24px;
  position: relative;
  vertical-align: top;
  margin-right: 1rem;
  display: inline-block;
  border: 3px solid rgb(172, 172, 172);
  background: transparent;
  margin-left: 6px;
  transition: border-color .4s;
  
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    background-image: url("/images/cross.svg");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    transition: all .3s;
  }

  &.checked {
    border-color: $quiz-color;

    &:after {
      width: 28px;
      height: 28px;
    }
  }
}

.quiz-lamp-container {
  position: absolute;
  bottom: 5rem;
  left: 4rem;
  width: 150px;
  height: 355px;
}

.quiz-tv-container {
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  width: 220px;
  height: 300px;

  @media screen and (max-width: 1280px) {
    right: 2rem;
  }

  @media screen and (max-width: 1280px - 32px) {
    right: -2rem;
  }
}

.quiz-radio-container {
  position: absolute;
  bottom: 3rem;
  left: 9rem;
  width: 150px;
  height: 180px;
}

@media screen and (max-width: 1280px) {
  .quiz-tv-container,
  .quiz-lamp-container,
  .quiz-radio-container {
    display: none;
  }
}


@media screen and (max-height: 750px) {
  .quiz-tv-container,
  .quiz-lamp-container,
  .quiz-radio-container {
    display: none;
  }
}

.quiz-lamp,
.quiz-tv,
.quiz-radio {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.1);
}

.quiz-lamp {

}

.quiz-tv {

}

.quiz-radio {

}