.slide-container {
  position: fixed;
  top: nth($v-padding, 1);
  bottom: nth($v-padding, 1);
  left: nth($h-padding, 1);
  right: nth($h-padding, 1);
  margin: 0 auto;
  max-width: 1180px;
  max-height: 800px;
  @include set-values(top bottom, $breakpoints, $v-padding);
  @include set-values(left right, $breakpoints, $h-padding);
  background: white;
  border-radius: 23px;
  box-shadow: 0 8px 20px rgba(0,0,0,.2);
  overflow: hidden;
}

.slide-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-shadow: 0 -40px 40px rgba(0,0,0,.5);
  background-image: url("/images/stage.jpg");
  background-size: cover;
  background-position: 50% 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform .9s, box-shadow 1s ease-in;

  &.active {
    box-shadow: 0 6px 80px rgba(0,0,0,.6);
  }

  &.dark {
    background-image: url("/images/stage_dark.jpg");
  }
}
