$xs: 500px;
$sm: 640px;
$md: 1000px;
$lg: 1400px;

$h-padding: 4rem, 3rem, 0, 0;
$v-padding: 3rem, 2.5rem, 2.5rem, 2.5rem;


$disco-ball-right: 2rem 1.5rem 1rem 1rem;

$slide-margin: calc(50% - (1180px / 2));
$slide-margin-bp: 1380px, $md, $sm, $xs;

$breakpoints: $lg, $md, $sm, $xs;

$intro-color: #014e67;
$preamble-color: #e44b4a;
$quiz-color: #00bfad;
$results-color: #3191c2;
